// @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$background-color--main: #f6f6f6;
$font-color--headers: #000;
$font-color--main: #333;

.container {
  min-width: 480px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.mobile_tabs {
  display: flex;
  align-items: center;
  padding: 6px 16px 10px;

  &__item {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    color: #4e4e4e;
    display: inline-block;
    list-style: none;
    margin-right: 8px;
    padding: 8px 12px;
  }
}

.active {
  background: #fff;
  box-shadow:
    0 5px 14px rgba(0, 0, 0, 0.11),
    0 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #4e4e4e;
  display: inline-block;
  list-style: none;
  margin-right: 8px;
  padding: 8px 12px;
  font-weight: 600;
}

.filter {
  display: flex;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 10;
  padding: 6px 16px 16px;
  gap: 8px;
  overflow-x: auto;
  align-items: center;
  position: absolute;
  width: 100%;

  &__input_large {
    display: none;
    background: #f2f2f2;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    line-height: 36px;
    outline: none;
    padding: 0 8px 0 30px;
    position: relative;
    transition: width 0.3s ease;
    font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
    width: 300px;
    background-image: url('../../shared/assets/img/search.svg');
    background-size: 16px;
    background-position: 10px;
    background-repeat: no-repeat;
    outline: none;
  }
  &__input_small {
    background: #f2f2f2;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    line-height: 36px;
    outline: none;
    padding: 0 8px 0 30px;
    position: relative;
    transition: width 0.3s ease;
    font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
    background-image: url('../../shared/assets/img/search.svg');
    background-size: 16px;
    background-position: 13px;
    background-repeat: no-repeat;
    outline: none;
  }

  &__item {
    background: #f2f2f2;
    border-radius: 8px;
    padding: 9px 8px 9px 8px;
    display: flex;
    white-space: nowrap;
    font-size: 14px;
    font-style: normal;
    align-items: center;
    cursor: pointer;
  }

  &__item:hover {
    background: #f2f2f2;
    transition: background-color 0.3s;
  }

  &__checkbox {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__label {
    width: 100%;
  }

  &__label:before {
    content: '';
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d9d9d9;
    background-position: center center;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.23, 1);
    margin-right: 8px;
  }

  &__checkbox:checked + label::before {
    fill: #fc8507;
    stroke-width: 6px;
    stroke: #fc8507;
    background-image: url(../../shared/assets/img/label_check.svg);
  }
}

@media (min-width: 992px) {
  .mobile_tabs {
    display: none;
  }
}

@media (min-width: 768px) {
  .filter__input_large {
    display: inline-flex;
  }

  .filter__input_small {
    display: none;
  }
}
