.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.input:checked {
  background-color: #FC8507;
  border-color: #FC8507;
}

.span {
  font-size: 16px;
  position: relative;
}
.input:checked + .span::before {
  content: '\2713'; 
  display: inline-block;
  font-size: 16px;
  color: white;
  margin-right: 5px;
  transition: transform 0.3s; 
  position: absolute;
  right: 8px;
  top: -10px;
}